.other {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-row-gap: 25px;
}

.other-item {
  max-width: 250px;

  img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
}

.other-cover:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px $dark-gray, 0 10px 10px $dark-gray;
}

.other-artist:hover {
  cursor: pointer;
  filter: opacity(70%);
}
