@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;

  color: $gray;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background-color: $dark;
}

main {
  padding: 200px 0px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 100px;
}

h1 {
  @extend %h-styles;
  font-size: $size-h1;
}

h2 {
  @extend %h-styles;
  margin-bottom: 48px;

  font-size: $size-h2;
}

h3 {
  @extend %h-styles;
  font-size: $size-h3;
}

.small-header {
  margin: 0;

  font-size: $main-size;
  text-align: left;
}

input {
  min-width: 250px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0;
  padding-left: 20px;

  color: #fff;
  font-size: 14px;
  line-height: 16px;

  background: none;
  border: 2px solid $gray;
  border-radius: 3px;
}

li {
  list-style: none;
}

a {
  font-size: 16px;
  color: $gray;
  text-decoration: none;
}

p {
  margin: 0;

  font-size: 16px;
}

span {
  box-sizing: border-box;
}

.link:hover {
  color: $light-gray;
}

.btn {
  padding: 20px 30px;

  border-radius: 5px;
}

.btn-link {
  flex: 2 1 318px;

  margin-top: 24px;
  padding: 16px 30px;

  text-transform: uppercase;

  background: none;
  border: 1px solid $gray;
}

.more {
  display: block;

  font-size: 16px;

  border: 1px solid #ffffff;
  transition: 0.3s linear;

  &:hover {
    color: $dark;
    background: $gray;
  }
}

.flex {
  @extend %flex-container;
}

.align-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.column-gap-50 {
  grid-column-gap: 50px;
}

.left-align {
  justify-content: none;
}

.end {
  margin-left: auto;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ph-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.header-text {
  font-size: 11px;
}

.small-text {
  font-size: 12.8px;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.font-size-18px {
  font-size: 18px;
}

.capitalaze {
  text-transform: capitalize;
}
