.main-page {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

.artist-page {
  background-image: url('../images/Morten\ Harket.png');
  background-position: center;
  background-size: cover;
}

.main-section {
  padding-top: 0;

  form {
    grid-column-gap: 20px;

    max-width: 570px;
    margin: 0 auto;

    .btn-submit {
      width: 100%;

      color: #fff;
      text-transform: uppercase;

      background: $green;
      border: none;
    }

    .btn-submit:hover {
      background: $purple;
    }
  }
}

.center {
  width: 100vw;
  margin: 0 auto;
}

.form-description {
  width: 100vw;
  margin-top: 32px;
  margin-bottom: 16px;

  text-align: center;
}

.header-artist {
  margin-top: 50px;
  margin-bottom: 16px;

  text-align: left;
}

.fans {
  margin: 0;
  margin-bottom: 24px;
}

.btn-artist {
  width: 200px;
  height: 62px;
  margin-right: 1.5rem;
  padding: 20px 30px;

  color: $gray;
  font-size: 12.8px;
  line-height: 1.5;
  text-align: left;

  border: none;

  img {
    width: 20px;
    margin-right: 16px;

    filter: invert(1);
  }
}

.purple {
  background: $purple;
}

.red {
  background: $red;
}

.align-center {
  vertical-align: middle;
}
