@media screen and (min-width: 1240px) {
  h1 {
    font-size: $size-h1;
  }
}

@media screen and (max-width: 1239px) {
  section {
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  h1 {
    font-size: $size-h1 / 2;
  }

  h2 {
    font-size: 18px;
  }

  .header-artist {
    margin-top: 25px;
  }

  .pricing-item:not(:last-child) {
    margin-bottom: 46px;
  }

  .pricing-name {
    font-size: 16px;
    line-height: 1.5;
  }

  .news-item {
    justify-content: center;
  }

  .news-item-image {
    margin-bottom: 50px;
  }

  .news-header {
    margin-bottom: 16px;

    font-size: 16px;
  }

  .form-description {
    margin-top: 16px;
  }

  .popular-track:nth-last-child(2) {
    margin-bottom: 25px;
  }

  .mt-50 {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1100px) {
  .link {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: $dark-gray;
      transition: width 0.5s;
    }

    &:hover::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background: $light-gray;
      transition: width 0.5s;

      color: $dark-gray;
    }
  }

  .right-place {
    order: 2;
  }
}

@media screen and (max-width: 415px) {
  nav {
    margin: 2px 0;

    li {
      width: 87px;
    }
  }

  input {
    flex-grow: 1;
  }

  .pricing-item {
    padding: 18px 1.5rem;
  }

  .item-footer {
    margin-bottom: 48px;
  }

  .news-item-image {
    height: 186px;
  }

  .other-item {
    img {
      width: 137px;
      height: 137px;
    }
  }

  .other-item:not(:nth-child(2)) {
    max-width: 137px;
  }

  .menu {
    width: 100vw;
    margin-top: 0;

    &:first-child {
      margin-top: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 31px;
    }

    &:last-child {
      margin-bottom: 23px;
    }
  }

  .second-part-footer {
    padding-top: 9px;

    a {
      width: 100vw;
      margin-right: 15px;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
