.news-item-image {
  min-width: 374px;
}

.news-item-block {
  width: 580px;
}

.news-header {
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
}

.news-footer {
  margin-top: 24px;
}

.news-author {
  grid-column-gap: 16px;
  justify-content: flex-start;

  margin-bottom: 48px;
}

.name-author {
  color: $orange;
}

.btn-news {
  width: 75px;
  padding: 16px 30px;
}
