.other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-row-gap: 25px;
}

.other-item {
  max-width: 250px;
}

.other-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.other-artist {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.other-artist:hover {
  -webkit-box-shadow: 250px 0 0 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 250px 0 0 0 rgba(0, 0, 0, 0.3) inset;
}
