.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header span, header ul {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color: #cacaca;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background-color: #08020D;
}

main {
  padding-top: 200px;
  padding-bottom: 200px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 100px;
}

h1 {
  font-size: 60px;
}

h2 {
  margin-bottom: 48px;
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

.small-header {
  margin: 0;
  font-size: 18px;
  text-align: left;
}

li {
  list-style: none;
}

p {
  margin: 0;
  font-size: 16px;
}

span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 318px;
          flex: 2 1 318px;
  margin-top: 24px;
  padding: 16px 30px;
  text-transform: uppercase;
  background: none;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.more {
  display: block;
  color: #cacaca;
  font-size: 16px;
  text-decoration: none;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-gap-50 {
  grid-column-gap: 50px;
}

.left-align {
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.end {
  margin-left: auto;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ph-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.small-text {
  font-size: 12.8px;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.font-size-18px {
  font-size: 18px;
}

.capitalaze {
  text-transform: capitalize;
}

header {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100vw;
}

header nav {
  max-width: 390px;
  margin-right: 440px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

header ul li {
  display: block;
  height: 15px;
}

header ul li:not(:last-child) {
  margin-right: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header a {
  color: #cacaca;
  text-decoration: none;
}

header a:hover {
  color: #e0e0e0;
}

header input {
  width: 228px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #3c3b3d;
  border-radius: 50px;
  border: none;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-row-gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 105px;
  margin-right: 83px;
}

.logo img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.hidden {
  display: none;
}

.main-page {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.artist-page {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.main-section {
  padding-top: 0;
}

.main-section form {
  max-width: 570px;
  margin: 0 auto;
  grid-column-gap: 24px;
}

.main-section form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 246px;
  min-height: 46px;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  background: none;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.main-section form button {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 246px;
          flex: 2 1 246px;
  height: 57px;
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
  background: #34c176;
  border: none;
  border-radius: 5px;
}

.center {
  width: 100vw;
  margin: 0 auto;
}

.form-description {
  width: 100vw;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.header-artist {
  margin-top: 50px;
  margin-bottom: 16px;
  text-align: left;
}

.fans {
  margin: 0;
  margin-bottom: 24px;
}

.btn-artist {
  width: 200px;
  height: 62px;
  margin-right: 1.5rem;
  padding: 20px 30px;
  color: #cacaca;
  font-size: 12.8px;
  line-height: 1.5;
  text-align: left;
  border: none;
}

.btn-artist img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 20px;
  margin-right: 16px;
}

.purple {
  background: #5328a1;
}

.red {
  background: #95390c;
}

.align-center {
  vertical-align: middle;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-column-gap: 50px;
  margin-top: -2px;
  margin-bottom: 39px;
}

.pricing-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 318px;
  padding: 26px 1.5rem;
  border-radius: 1.5rem;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-name {
  font-weight: normal;
}

.pricing-link {
  margin-top: 40px;
  margin-bottom: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.pricing-value {
  margin: 0;
  margin-top: 200px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.pricing-value span {
  display: inline-block;
  margin-right: 6px;
  font-size: 64px;
  line-height: 1em;
  vertical-align: top;
}

.item-footer {
  height: 57px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 12.8px;
  text-align: center;
}

.news-item-image {
  min-width: 374px;
}

.news-item-block {
  width: 580px;
}

.news-header {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
}

.news-footer {
  margin-top: 24px;
}

.news-author {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-column-gap: 16px;
  margin-bottom: 48px;
}

.name-author {
  color: #f89202;
}

.btn-news {
  width: 75px;
}

.bg-red {
  display: block;
  max-width: 61px;
  margin-top: 16px;
  text-transform: capitalize;
  background: #95390c;
  border: none;
  border-radius: 32px;
}

.app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-column-gap: 127px;
}

.app-body img {
  margin: 0 auto;
}

.app-text {
  width: 590px;
  margin-top: 16px;
  padding: 0 5px;
}

.popular-track {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 575px;
  margin-bottom: 25px;
}

.popular-track img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.popular-track:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-row-gap: 25px;
}

.other-item {
  max-width: 250px;
}

.other-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.pv-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.first-part-footer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
  padding-top: 0;
}

.second-part-footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-column-gap: 15px;
  margin-top: 2rem;
  padding-top: 8px;
}

.second-part-footer a {
  padding: 0 2px;
}

hr {
  margin: 0;
  border-bottom: 1px solid #E0E0E0;
}

.menu {
  width: 270px;
  margin-top: 13px;
  margin-bottom: 26px;
}

.menu-point {
  margin-top: 15px;
  font-size: 16px;
}

.menu-point p {
  color: #e0e0e0;
}

.menu-link {
  height: 20px;
  vertical-align: middle;
}

.social {
  margin-top: 14px;
  font-size: 16px;
}

.light-gray {
  display: inline-block;
  color: #e0e0e0;
  text-decoration: none;
}

.contacts {
  display: inline-block;
  height: 25px;
}

.contacts:not(:last-child) {
  margin-right: 22px;
}

.contacts img {
  vertical-align: middle;
}

.block {
  display: block;
  margin: 2px 0;
}

@media screen and (min-width: 1240px) {
  h1 {
    font-size: 60px;
  }
  .right-place {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 1239px) {
  section {
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  .header-artist {
    margin-top: 25px;
  }
  .pricing-item:not(:last-child) {
    margin-bottom: 46px;
  }
  .pricing-name {
    font-size: 16px;
    line-height: 1.5;
  }
  .news-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news-item-image {
    margin-bottom: 50px;
  }
  .news-header {
    margin-bottom: 16px;
    font-size: 16px;
  }
  .form-description {
    margin-top: 16px;
  }
  .popular-track:nth-last-child(2) {
    margin-bottom: 25px;
  }
  .mt-50 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 415px) {
  nav {
    margin: 2px 0;
  }
  nav li {
    width: 87px;
  }
  input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .pricing-item {
    padding: 18px 1.5rem;
  }
  .item-footer {
    margin-bottom: 48px;
  }
  .news-item-image {
    height: 186px;
  }
  .other-item:not(:nth-child(2)) {
    max-width: 137px;
  }
  .other-item img {
    width: 137px;
    height: 137px;
  }
  .menu {
    width: 100vw;
    margin-top: 0;
  }
  .menu:first-child {
    margin-top: 15px;
  }
  .menu:not(:last-child) {
    margin-bottom: 31px;
  }
  .second-part-footer a {
    width: 100vw;
    margin-right: 15px;
    margin-bottom: 16px;
  }
  .second-part-footer a:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=app.css.map */