.flex, .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header span, header ul {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color: #cacaca;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background-color: #08020D;
}

h1 {
  font-size: 60px;
}

h2 {
  margin-bottom: 48px;
  font-size: 38px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.87;
}

header,
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style: none;
}

p {
  margin: 0;
  font-size: 16px;
}

span {
  box-sizing: border-box;
}

.btn {
  flex: 2 1 318px;
  margin-top: 24px;
  padding: 16px 30px;
  text-transform: uppercase;
  background: none;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.more {
  display: block;
  color: #cacaca;
  font-size: 16px;
  text-decoration: none;
}

.mh-50 {
  margin: 0 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pv-21 {
  padding-top: 21px;
  padding-bottom: 21px;
}

.ph-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.ph-115 {
  padding-left: 115px;
  padding-right: 115px;
}

header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

header nav {
  max-width: 324px;
  margin-right: 421px;
  margin-bottom: 16px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header ul li {
  display: block;
}

header ul li:not(:last-child) {
  margin-right: 24px;
  box-sizing: border-box;
}

header a {
  color: #cacaca;
  text-decoration: none;
}

header input {
  flex-grow: 1;
  width: 228px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #3c3b3d;
  border-radius: 50px;
  border: none;
}

.logo {
  width: 103px;
  margin-right: 85px;
  margin-bottom: 17px;
}

.logo img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.hidden {
  display: none;
}

main {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-section p {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.main-section form {
  max-width: 570px;
  margin: 0 auto;
  grid-column-gap: 24px;
}

.main-section form input {
  flex-grow: 1;
  min-width: 246px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0;
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  background: none;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.main-section form button {
  flex: 2 1 246px;
  height: 57px;
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
  background: #34c176;
  border-radius: 5px;
}

.center {
  width: 100vw;
  margin: 0 auto;
}

.pricing {
  padding-top: 100px;
  grid-column-gap: 50px;
}

.pricing-item {
  flex-grow: 1;
  margin-bottom: 39px;
  padding: 21px 1.5rem;
  max-width: 319px;
  border-radius: 1.5rem;
}

.pricing-footer {
  text-align: center;
}

.pricing-value {
  margin: 0;
  margin-top: 200px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.pricing-value span {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.item-footer {
  margin: 0;
  padding-bottom: 45px;
  font-size: 12.8px;
  text-align: center;
}

.news-item {
  grid-column-gap: 50px;
  padding-top: 48px;
}

.news-item-image {
  min-width: 374px;
}

.news-item-block {
  width: 575px;
}

.news-header {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.5;
  text-align: left;
  text-transform: capitalize;
}

.news-author {
  justify-content: flex-start;
  grid-column-gap: 16px;
  margin-bottom: 24px;
}

.name-author {
  color: #f89202;
}

.small-text {
  font-size: 12.8px;
}

.news-footer {
  margin-top: 24px;
}

.bg-red {
  text-transform: capitalize;
  background: #95390c;
  border: none;
  border-radius: 32px;
}

.app-body {
  grid-column-gap: 167px;
}

.app-text {
  width: 600px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.first-part-footer {
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 75px;
}

hr {
  margin: 0;
  border-bottom: 0px solid #E0E0E0;
}

.pv-footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.small-header {
  margin-bottom: 16px;
  font-size: 18px;
  text-align: left;
}

.menu {
  width: 310px;
  margin-bottom: 30px;
}

.light-gray {
  color: #e0e0e0;
  box-sizing: border-box;
}

.contacts {
  margin-right: 24px;
}

.second-part-footer {
  justify-content: flex-start;
  grid-column-gap: 15px;
  margin-top: 40px;
}

.second-part-footer a {
  margin-bottom: 16px;
}

@media screen and (min-width: 1240px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 38px;
  }
  .right-place {
    order: 2;
  }
}

@media screen and (max-width: 1239px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3,
  .news-header {
    font-size: 16px;
    margin-bottom: 16px;
  }
  section {
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-section {
    padding-top: 250px;
  }
  .news-item {
    justify-content: center;
  }
  p {
    margin-top: 16px;
  }
  .first-part-footer div {
    width: 310px;
  }
}

@media screen and (max-width: 415px) {
  nav {
    margin-right: 0;
  }
  .second-part-footer a {
    width: 434px;
  }
}
/*# sourceMappingURL=app.css.map */