.pv-footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.first-part-footer {
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 3rem;
  padding-top: 13px;
}

.second-part-footer {
  justify-content: flex-start;
  grid-column-gap: 15px;

  margin-top: 2rem;
  padding-top: 10px;
}

hr {
  margin: 0;

  border-bottom: 0px solid #E0E0E0;
}

.menu {
  width: 270px;
  margin-bottom: 30px;
}

.menu-point {
  margin-top: 16px;

  font-size: 16px;
}

.light-gray {
  color: $light-gray;
  text-decoration: none;
}

.contacts {
  height: 21px;
  margin-right: 24px;

  img {
    vertical-align: middle;
  }
}