.pv-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.first-part-footer {
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 3rem;
  padding-top: 0;
}

.second-part-footer {
  justify-content: flex-start;
  grid-column-gap: 15px;

  margin-top: 2rem;
  padding-top: 8px;

  a {
    padding: 0 2px;
  }
}

hr {
  margin: 0;

  border-bottom: 1px solid #E0E0E0;
}

.menu {
  width: 270px;
  margin-top: 13px;
  margin-bottom: 26px;
}

.menu-point {
  margin-top: 15px;

  font-size: 16px;

  p {
    color: $light-gray;
  }
}

.menu-link {
  height: 20px;
  vertical-align: middle;
}

.social {
  margin-top: 14px;

  font-size: 16px;
}

.light-gray {
  display: inline-block;

  color: $light-gray;
  text-decoration: none;
}

.contacts {
  display: inline-block;
  height: 25px;

  &:not(:last-child) {
    margin-right: 22px;
  }

  img {
    vertical-align: middle;
  }
}

.block {
  display: block;

  margin: 2px 0;
}