@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}
body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color: $gray;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background-color: $dark;
}

h1 {
  @extend %h-styles;
  font-size: $size-h1;
}

h2 {
  @extend %h-styles;
  font-size: $size-h2;
}

h3 {
  @extend %h-styles;
  font-weight: normal;
  font-size: $size-h3;
  line-height: 1.87;
}

header,
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style: none;
}

p {
  margin: 0;
  font-size: 16px;
}
span {
  box-sizing: border-box;
}

.flex {
  @extend %flex-container;
}