header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  grid-row-gap: 16px;

  span {
    @extend %header-text;
  }

  nav {
    max-width: 330px;
    margin-right: 375px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    @extend %header-text;

    li {
      display: block;

      &:not(:last-child) {
        margin-right: 24px;

        box-sizing: border-box;
      }
    }
  }

  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $light-gray;
    }
  }

  input {
    flex-grow: 1;

    width: 228px;
    padding: 5px 10px;

    text-transform: uppercase;

    background-color: $dark-gray;
    border-radius: 50px;
    border: none;
  }
}

.logo {
  width: 105px;
  margin-right: 83px;

  img {
    width: 24px;
    height: 24px;
    margin-right: 16px; 
  } 
}

.hidden {
  display: none;
}
