header {
  position: absolute;
  top: 25px;
  left: 0;

  width: 100vw;

  span {
    @extend %header-text;
  }

  nav {
    max-width: 390px;
    margin-right: 440px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    @extend %header-text;

    li {
      display: block;
      height: 15px;

      &:not(:last-child) {
        box-sizing: border-box;

        margin-right: 24px;
      }
    }
  }

  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $light-gray;
    }
  }

  input {
    width: 228px;
    padding: 5px 10px;

    text-transform: uppercase;

    background-color: $dark-gray;
    border: none;
    border-radius: 50px;
  }
}

.header-block {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 16px;
  align-items: center;
  justify-content: flex-start;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 105px;
  margin-right: 83px;

  img {
    width: 24px;
    height: 24px;
    margin-right: 16px; 
  }
}

.hidden {
  display: none;
}
