.main-page {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.artist-page {
  background-image: url("../images/Morten\ Harket.png");
  background-position: center;
  background-size: cover;
}

.main-section {
  padding-top: 200px;
  padding-bottom: 200px;

  form {
    max-width: 570px;
    margin: 0 auto;

    grid-column-gap: 24px;
    
    input {
      flex-grow: 1;

      min-width: 246px;
      min-height: 46px;
      margin-bottom: 20px;
      padding: 0;
      padding-left: 20px;

      color: #fff;
      font-size: 14px;
      line-height: 16px;

      background: none;
      border: 2px solid $gray;
      border-radius: 3px;
    }

    button {
      flex: 2 1 246px;

      height: 60px;
      padding: 20px 30px;

      color: #fff;
      text-transform: uppercase;

      background: $green;
      border: none;
      border-radius: 5px;
    }
  }
}

.center {
  width: 100vw;
  margin: 0 auto;
}

.form-description {
  width: 100vw;
  margin-top: 32px;
  margin-bottom: 16px;

  text-align: center;
}

.header-artist {
  margin-top: 50px;
  margin-bottom: 16px;

  text-align: left;
}

.fans {
  margin:0;
  margin-bottom: 24px;
}

.btn-artist {
  width: 200px;
  height: 62px;
  margin-right: 1.5rem;
  margin-bottom: 20px;
  padding: 20px 30px;

  color: $gray;
  font-size: 12.8px;
  line-height: 1.5;
  text-align: left;

  border: none;

  img {

    filter: invert(1);

    width: 20px;
    margin-right: 16px;
  }
}

.purple {
  background: $purple;
}

.red {
  background: $red;
}

.align-center {
  vertical-align: middle;
}