@media screen and (min-width: 1240px) {
  h1 {
    font-size: $size-h1;
  }

  .right-place {
    order: 2;
  }
}

@media screen and (max-width: 1239px) {
  section {
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  h1 {
    font-size: $size-h1 / 2;
  }

  h2 {
    font-size: 18px;
  }

  .header-artist {
    margin-top: 25px;
  }

  .pricing-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .pricing-name {
    font-size: 16px;
    line-height: 1.5;
  }

  .news-item {
    justify-content: center;
  }

  .news-item-image {
    margin-bottom: 50px;
  }

  .news-header {
    margin-bottom: 16px;
  
    font-size: 16px;
  }

  .form-description {
    margin-top: 16px; 
  }

  .popular-track:nth-last-child(2) {
    margin-bottom: 25px;
  }

  .mt-50 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 415px) {
  nav {
    margin: 2px 0;

    li {
      width: 87px;
    }
  }

  input {
    flex-grow: 1;
  }

  .news-item-image {
    height: 186px;
  }

  .other-item:not(:nth-child(2)) {
    max-width: 137px;
  }

  .other-item {
    img {
      width: 137px;
      height: 137px;
    }
  }

  .second-part-footer {
    a {
      width: 100vw;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .menu {
    width: 100vw;
  }
}