@media screen and (min-width: 1240px) {
  h1 {
    font-size: $size-h1;
  }

  h2 {
    font-size: $size-h2;
  }

  .right-place {
    order: 2;
  }
}

@media screen and (max-width: 1239px) {
  section {
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  h1 {
    font-size: $size-h1 / 2;
  }

  h2 {
    font-size: 18px;
  }

  .pricing-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
  }

  .main-section {
    padding-top: 250px; 
  }

  .news-item {
    justify-content: center;
  }

  .news-header {
    margin-bottom: 16px;
  
    font-size: 16px;
  }

  .form-description {
    margin-top: 16px; 
  }

  .popular-track:nth-last-child(2) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 415px) {
  nav {
    margin-right: 0;
  }

  .other-item {
    max-width: 137px;

    img {
      width: 137px;
      height: 137px;
    }
  }

  .second-part-footer {
    a {
      width: 434px;
      margin-bottom: 16px;
    }
  }
}