.news-item-image {
  min-width: 374px;
  min-height: 186px;
} 

.news-item-block {
  width: 580px;
}

.news-header {
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
}

.news-footer {
  margin-top: 24px;
}

.news-author {
  justify-content: flex-start;
  grid-column-gap: 16px;

  margin-bottom: 48px;
}

.name-author {
  color: $orange;
}