.bg-red {
  display: block;

  max-width: 61px;
  margin-top: 16px;

  text-transform: capitalize;

  background: $red;
  border: none;
  border-radius: 32px;
}

.app-body {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 127px;
  align-items: flex-start;

  img {
    margin: 0 auto;
  }
}

.app-text {
  width: 590px;
  margin-top: 16px;
  padding: 0 5px;
}
