.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pricing-item {
  flex-grow: 1;

  max-width: 319px;
  margin-bottom: 39px;
  padding: 21px 1.5rem;

  border-radius: 1.5rem;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-name {
  font-weight: normal;
  line-height: 1.87;
}

.pricing-link {
  display: block;
  margin-top: 48px;
  margin-bottom: 64px;
  padding: 21px 115px;
}

.pricing-value {
  margin: 0;
  margin-top: 200px;

  font-size: 32px;
  text-align: center;
  text-transform: uppercase;

  span {
    display: inline-block;
  
    margin-right: 16px;

    font-size: 64px;
    line-height: 1em;

    vertical-align: top;
  }
}

.item-footer {
  margin: 0;
  padding-bottom: 45px;

  font-size: 12.8px;
  text-align: center;
}