.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-column-gap: 50px;

  margin-bottom: 40px;
}

.pricing-item {
  flex-grow: 1;

  max-width: 318px;
  padding: 20px 1.5rem;

  border-radius: 1.5rem;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-name {
  font-weight: normal;
}

.pricing-link {
  margin-top: 40px;
  margin-bottom: 64px;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
}

.pricing-value {
  margin: 0;
  margin-top: 200px;

  font-size: 32px;
  text-align: center;
  text-transform: uppercase;

  span {
    display: inline-block;
  
    margin-right: 6px;

    font-size: 64px;
    line-height: 1em;

    vertical-align: top;
  }
}

.item-footer {
  height: 57px;
  margin: 0;
  margin-bottom: 45px;

  font-size: 12.8px;
  text-align: center;
}